

/* 页面展示部分的高度 */
.height-100vh{
	height: calc(100vh - 104px);
}

.scrollbar::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  height: 0 !important;
  -webkit-appearance: none;
  background: transparent;
}
